sampledata/nodered/chatbotflows.json
[{"id":"c31b20c5.2adee","type":"tab","label":"Chatbot Flow"},{"id":"2a1a0d50.4be062","type":"tab","label":"LED Handling"},{"id":"d4ba6a8c.0475b8","type":"tab","label":"Setup Chatbot"},{"id":"5edab350.012c3c","type":"tab","label":"Blank Page"},{"id":"d948e546.0f9068","type":"websocket-listener","z":"5edab350.012c3c","path":"/ws/simple","wholemsg":"false"},{"id":"6529a360.be457c","type":"debug","z":"c31b20c5.2adee","name":"Speech to Text Output","active":true,"console":"false","complete":"true","x":1152,"y":645.9999523162842,"wires":[]},{"id":"8c814f9.bd988b","type":"watson-text-to-speech","z":"c31b20c5.2adee","name":"Result to Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","x":360.10009002685547,"y":1136.0000066757202,"wires":[["df27676.0aa6798","91f6f31.10f0d1"]]},{"id":"b760661d.d47fe8","type":"inject","z":"c31b20c5.2adee","name":"Demo Text to Speech","topic":"","payload":"I'm thinking","payloadType":"str","repeat":"","crontab":"","once":false,"x":129.00003051757812,"y":966.8002586364746,"wires":[["8c814f9.bd988b","8e698de5.4b74e"]]},{"id":"91f6f31.10f0d1","type":"change","z":"c31b20c5.2adee","name":"set speech as payload","rules":[{"t":"move","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":616.0001525878906,"y":1137.0000219345093,"wires":[["5a08cc9c.28ba74"]]},{"id":"df27676.0aa6798","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"speech","x":578.0000076293945,"y":1205.000081062317,"wires":[]},{"id":"5959574b.9f3958","type":"comment","z":"c31b20c5.2adee","name":"Result Output","info":"The result text of the chatbot is now passed to the \nWatson text to speech service and then the audio is \nplayed back through the speakers. After that the bot\nswitches into the \"listen\" mode to be ready for follow-up questions.","x":80.10002136230469,"y":905.8000059127808,"wires":[]},{"id":"4da88bfd.688004","type":"comment","z":"c31b20c5.2adee","name":"Talk to Chatbot Service","info":"The text of the listen step is now passed to our chatbot server.\nThis server is also running on this raspberry. In there the \"magic\" happens.\nThis means that the text is passed to the conversation service the result is then passed\nto Watson Content Hub to get the best answer. \n\nIn this mode the LED should be blue.\n\n*Note:* Based on your configuration the text is also passed to the tone analyzer service and potentially to a geolocation service.","x":106.00000762939453,"y":669.3999824523926,"wires":[]},{"id":"c52d1ba3.69cfe8","type":"http request","z":"c31b20c5.2adee","name":"Chatbot","method":"POST","ret":"obj","url":"http://localhost:6001/rasp/message","tls":"","x":505.5000877380371,"y":795.2000598907471,"wires":[["9cd03298.68424","5eb5547b.4c302c","87e015ca.4414d8"]]},{"id":"1540e2c9.0b00dd","type":"inject","z":"c31b20c5.2adee","name":"Demo Input","topic":"","payload":"What's new with WCH?","payloadType":"str","repeat":"","crontab":"","once":false,"x":95.00001525878906,"y":720.3999843597412,"wires":[["b1ae4541.0c45a8","7cf6a920.7a64f8"]]},{"id":"b1ae4541.0c45a8","type":"function","z":"c31b20c5.2adee","name":"Prepare User","func":"var text = msg.payload;\nmsg.payload = {\n \"input\": text,\n \"user\": \"WCHChatbot\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":304.5000190734863,"y":794.2000780105591,"wires":[["c52d1ba3.69cfe8"]]},{"id":"5eb5547b.4c302c","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":703.3999710083008,"y":851.3999652862549,"wires":[]},{"id":"29217488.4e5d3c","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["e238bbab.0b3fb8"],"x":454.1667308807373,"y":738.6667022705078,"wires":[]},{"id":"7cf6a920.7a64f8","type":"function","z":"c31b20c5.2adee","name":"Turn on BLUE","func":"msg.payload = 1;\nmsg.led=\"blue\";\nreturn msg;","outputs":1,"noerr":0,"x":310.93331146240234,"y":737.9333896636963,"wires":[["29217488.4e5d3c"]]},{"id":"9cd03298.68424","type":"function","z":"c31b20c5.2adee","name":"Turn off BLUE","func":"msg.payload = 0;\nmsg.led = \"blue\";\nreturn msg;","outputs":1,"noerr":0,"x":718.9333190917969,"y":741.9333124160767,"wires":[["8431898f.d3da38"]]},{"id":"dce08cf1.e16a4","type":"rpi-gpio out","z":"2a1a0d50.4be062","name":"","pin":"11","set":true,"level":"1","out":"out","x":870.7330284118652,"y":447.03329372406006,"wires":[]},{"id":"9d9f30ad.c8589","type":"rpi-gpio out","z":"2a1a0d50.4be062","name":"","pin":"12","set":true,"level":"1","out":"out","x":871.8998527526855,"y":95.19997310638428,"wires":[]},{"id":"f9af8bef.0f94e8","type":"function","z":"2a1a0d50.4be062","name":"Turn on RED","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":671.8996200561523,"y":285.1999101638794,"wires":[["2de1924d.374b4e"]]},{"id":"579c16e7.f0d728","type":"comment","z":"2a1a0d50.4be062","name":"LED handling","info":"This Flow is just handling the LED for our bot. \nYou can turn on/off a specific color or toggle a color\nbased on your needs.\n\nIt expects a generic message of the following format:\n``` json\n{\n    \"payload\" : 1,\n    \"led\" : \"green\"\n}\n```\nWhere:\n- payload: Can be 1/0/undefined. If payload is undefined the LED will be toggled\n- led: Can be green/red/blue. This is the target of our call. You can also add more than a color.\n\nMore Samples:\n``` json\n{\n    \"payload\" : 0,\n    \"led\" : \"red\"\n}\n```\n-----\n``` json\n{\n    \"led\" : \"red green\"\n}\n```\n-----\n``` json\n{\n    \"payload\" : 0,\n    \"led\" : \"red green blue\"\n}\n```","x":120,"y":48.999996185302734,"wires":[]},{"id":"9d797077.abe4b","type":"function","z":"2a1a0d50.4be062","name":"Turn off RED","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":672.8996086120605,"y":336.1998929977417,"wires":[["2de1924d.374b4e"]]},{"id":"7929b50f.59dc0c","type":"function","z":"2a1a0d50.4be062","name":"Toggle RED","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":668.8996315002441,"y":240.19990921020508,"wires":[["2de1924d.374b4e"]]},{"id":"873eb8ad.ac0e78","type":"function","z":"2a1a0d50.4be062","name":"Turn on GREEN","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":675.8329124450684,"y":97.46653652191162,"wires":[["9d9f30ad.c8589"]]},{"id":"69b8af43.1ddb4","type":"function","z":"2a1a0d50.4be062","name":"Turn off GREEN","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":676.8329010009766,"y":148.46651935577393,"wires":[["9d9f30ad.c8589"]]},{"id":"76eab8fc.836478","type":"function","z":"2a1a0d50.4be062","name":"Toggle GREEN","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":672.8329238891602,"y":52.466535568237305,"wires":[["9d9f30ad.c8589"]]},{"id":"e238bbab.0b3fb8","type":"link in","z":"2a1a0d50.4be062","name":"LED","links":["29217488.4e5d3c","a19f6c42.00d6d","5fb45a7d.5014b4","acaedace.2e2758","51bf881.e803378","573e7bd.fcf9084","1b48e9a4.1ec8e6"],"x":168.06636810302734,"y":210.1998291015625,"wires":[["b9150669.8112f8"]]},{"id":"b9150669.8112f8","type":"switch","z":"2a1a0d50.4be062","name":"Switch","property":"led","propertyType":"msg","rules":[{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"blue","vt":"str"}],"checkall":"true","outputs":3,"x":281.0664405822754,"y":210.06653785705566,"wires":[["9da8d56d.a4de78"],["f247aab7.26db88"],["406ce7e4.f2e6b8"]]},{"id":"e8f1e9de.a508c8","type":"function","z":"2a1a0d50.4be062","name":"Turn on BLUE","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":683.5662384033203,"y":455.13318729400635,"wires":[["dce08cf1.e16a4"]]},{"id":"1ddf19c9.307cd6","type":"function","z":"2a1a0d50.4be062","name":"Turn off BLUE","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":684.5662269592285,"y":506.13317012786865,"wires":[["dce08cf1.e16a4"]]},{"id":"fbe9dc2.315de2","type":"function","z":"2a1a0d50.4be062","name":"Toggle BLUE","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":670.5662498474121,"y":410.13318634033203,"wires":[["dce08cf1.e16a4"]]},{"id":"9da8d56d.a4de78","type":"switch","z":"2a1a0d50.4be062","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","outputs":3,"x":450.56617736816406,"y":85.1331615447998,"wires":[["76eab8fc.836478"],["873eb8ad.ac0e78"],["69b8af43.1ddb4"]]},{"id":"f247aab7.26db88","type":"switch","z":"2a1a0d50.4be062","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","outputs":3,"x":460.56615829467773,"y":279.1331443786621,"wires":[["7929b50f.59dc0c"],["f9af8bef.0f94e8"],["9d797077.abe4b"]]},{"id":"406ce7e4.f2e6b8","type":"switch","z":"2a1a0d50.4be062","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","outputs":3,"x":483.56617736816406,"y":453.13317680358887,"wires":[["fbe9dc2.315de2"],["e8f1e9de.a508c8"],["1ddf19c9.307cd6"]]},{"id":"bfed392c.0948d8","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["e238bbab.0b3fb8"],"x":483.81246757507324,"y":1085.8187007904053,"wires":[]},{"id":"8e698de5.4b74e","type":"function","z":"c31b20c5.2adee","name":"Turn on RED","func":"msg.payload = 1;\nmsg.led=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":364.57897186279297,"y":1027.0851593017578,"wires":[["bfed392c.0948d8","a1ff486a.9904b8"]]},{"id":"fde9095d.528148","type":"function","z":"c31b20c5.2adee","name":"Turn off RED","func":"if(msg.payload === undefined) return msg;\n\nmsg.payload=0;\nmsg.led=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":1250.5786323547363,"y":1138.0853242874146,"wires":[["e021d32c.5c9bd","a19f6c42.00d6d"]]},{"id":"87e015ca.4414d8","type":"change","z":"c31b20c5.2adee","name":"set speech as payload","rules":[{"t":"move","p":"payload.text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":858.8125228881836,"y":794.8186702728271,"wires":[["af07ad83.5f818"]]},{"id":"e021d32c.5c9bd","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":1410.8124618530273,"y":1187.8187189102173,"wires":[]},{"id":"a1ff486a.9904b8","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":517.8124313354492,"y":1030.8186807632446,"wires":[]},{"id":"1a611744.3d0d99","type":"delay","z":"c31b20c5.2adee","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1075.512336730957,"y":1137.0937490463257,"wires":[["fde9095d.528148","adbbdb48.fdd148"]]},{"id":"8431898f.d3da38","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["7f496efa.2e4e7","e238bbab.0b3fb8"],"x":877.8124895095825,"y":742.8187236785889,"wires":[]},{"id":"af07ad83.5f818","type":"link out","z":"c31b20c5.2adee","name":"End if Chatbtot","links":["6f7cba77.ee1944"],"x":1063.8124523162842,"y":795.8187341690063,"wires":[]},{"id":"6f7cba77.ee1944","type":"link in","z":"c31b20c5.2adee","name":"To Text to Speech","links":["af07ad83.5f818"],"x":71.81251192092896,"y":1140.8187417984009,"wires":[["8e698de5.4b74e","8c814f9.bd988b"]]},{"id":"a19f6c42.00d6d","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["e238bbab.0b3fb8"],"x":1373.812412261963,"y":1138.8186769485474,"wires":[]},{"id":"bec25277.c169e","type":"comment","z":"c31b20c5.2adee","name":"Listen for User Input","info":"After the inital triggerword was uttered the bot switches\ninto the listen mode. Everything now said will be transformed\ninto text which is passed to the next step of our chabtot.\nIn this mode the LED should constantly be green.\n\nNOTE: After ~10 seconds of silence this mode is exited again into the \ntriggerword mode.","x":95.00000762939453,"y":347.8187551498413,"wires":[]},{"id":"5fb45a7d.5014b4","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["e238bbab.0b3fb8"],"x":433.81250762939453,"y":467.8187551498413,"wires":[]},{"id":"20b108fb.f43c98","type":"function","z":"c31b20c5.2adee","name":"Turn on GREEN","func":"msg.payload = 1;\nmsg.led=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":293.5790710449219,"y":468.08544921875,"wires":[["5fb45a7d.5014b4"]]},{"id":"f0e13297.abe6b","type":"link in","z":"c31b20c5.2adee","name":"To Chatbot","links":["ca775847.2d7ae8"],"x":67.81252002716064,"y":796.8187990188599,"wires":[["b1ae4541.0c45a8","7cf6a920.7a64f8","c4cb16a1.251c78"]]},{"id":"ca775847.2d7ae8","type":"link out","z":"c31b20c5.2adee","name":"End of User input","links":["f0e13297.abe6b"],"x":1267.812551498413,"y":541.8187646865845,"wires":[]},{"id":"1e11c080.7afc6","type":"micro-to-watson-speech-to-text-stream","z":"c31b20c5.2adee","name":"Micro","silence":"6","treshold":"0.15","lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","x":542.5000038146973,"y":539.8624572753906,"wires":[["41822de8.980624","13e68d4.24a0473"]]},{"id":"e404a29a.82fb4","type":"inject","z":"c31b20c5.2adee","name":"Start","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":84.50625991821289,"y":394.37493801116943,"wires":[["9a0b2a3f.94f538"]]},{"id":"3cd90aa1.3a38c6","type":"inject","z":"c31b20c5.2adee","name":"Stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":84,"y":435.8187551498413,"wires":[["4bfba108.1adac"]]},{"id":"13e68d4.24a0473","type":"switch","z":"c31b20c5.2adee","name":"If Size","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"silence","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":765.812614440918,"y":541.81884765625,"wires":[["97ae9344.23973","62817c28.8d68e4"],["97ae9344.23973","6529a360.be457c","cbe0f257.d303d"]]},{"id":"376b2f20.88afa","type":"change","z":"c31b20c5.2adee","name":"Stop Micro","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":287.5061798095703,"y":574.8061332702637,"wires":[["1e11c080.7afc6"]]},{"id":"dac427c4.273338","type":"inject","z":"2a1a0d50.4be062","name":"Toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":495.50621032714844,"y":387.38122177124023,"wires":[["fbe9dc2.315de2"]]},{"id":"32e7b926.da3946","type":"inject","z":"2a1a0d50.4be062","name":"Toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":478.8125,"y":192.81875610351562,"wires":[["7929b50f.59dc0c"]]},{"id":"e6fae7a8.305cc8","type":"inject","z":"2a1a0d50.4be062","name":"Toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":464.8125,"y":34.81875228881836,"wires":[["76eab8fc.836478"]]},{"id":"b735b3b.105b85","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":1083.8123588562012,"y":1231.8186416625977,"wires":[]},{"id":"5a08cc9c.28ba74","type":"audiobuffer-to-speaker","z":"c31b20c5.2adee","x":867.0000381469727,"y":1137.0001282691956,"wires":[["b735b3b.105b85","1a611744.3d0d99"]]},{"id":"94a0dafb.247a28","type":"comment","z":"c31b20c5.2adee","name":"Wait for Triggerword","info":"This is the initial flow of our raspberry chatbot. \nIn this mode the bot waits for the triggerword to wake up.\nIn this mode the led should blink green.","x":95.00001525878906,"y":38.0000057220459,"wires":[]},{"id":"efcd1bbd.c7d758","type":"micro-to-watson-speech-to-text-stream","z":"c31b20c5.2adee","name":"Micro","silence":"6","treshold":"0.15","lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","x":565.9937171936035,"y":202.0000057220459,"wires":[["6457a229.46782c"]]},{"id":"6457a229.46782c","type":"switch","z":"c31b20c5.2adee","name":"If Triggerword","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Watson","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":788.0000076293945,"y":201.99999904632568,"wires":[["2908f59f.dc9b4a","9a2c54fe.b97948","59224d15.67bc34"],["1c066506.902bdb"]]},{"id":"2908f59f.dc9b4a","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":988.0000038146973,"y":132.99999904632568,"wires":[]},{"id":"1c066506.902bdb","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":985.0000076293945,"y":254.99999904632568,"wires":[]},{"id":"e33722ec.90a5c","type":"function","z":"c31b20c5.2adee","name":"Set WaitForTrigger 1","func":"global.set(\"waitForTrigger\",1);\nreturn msg;","outputs":1,"noerr":0,"x":338.00000762939453,"y":171.99999904632568,"wires":[["efcd1bbd.c7d758","29fcce55.3a00f2"]]},{"id":"36f4fd1b.e2f2c2","type":"function","z":"c31b20c5.2adee","name":"Set WaitForTrigger 0","func":"global.set(\"waitForTrigger\",0);\nreturn msg;","outputs":1,"noerr":0,"x":337.00000762939453,"y":230.99999904632568,"wires":[["efcd1bbd.c7d758"]]},{"id":"c67a9f22.e4a67","type":"change","z":"c31b20c5.2adee","name":"Start Micro","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"},{"t":"set","p":"thinking","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":285.00000762939453,"y":513.9999990463257,"wires":[["1e11c080.7afc6"]]},{"id":"39c9f559.4e087a","type":"link in","z":"c31b20c5.2adee","name":"Stop micro user input","links":["97ae9344.23973","4bfba108.1adac"],"x":54.00000762939453,"y":574.9999990463257,"wires":[["376b2f20.88afa","eb75c978.05c828"]]},{"id":"af17068d.d20fa8","type":"link in","z":"c31b20c5.2adee","name":"Start micro user input","links":["d11adc4b.7dae8","9a0b2a3f.94f538"],"x":53.00000762939453,"y":514.9999990463257,"wires":[["c67a9f22.e4a67","20b108fb.f43c98"]]},{"id":"97ae9344.23973","type":"link out","z":"c31b20c5.2adee","name":"","links":["39c9f559.4e087a"],"x":956.0001335144043,"y":507.00029945373535,"wires":[]},{"id":"d11adc4b.7dae8","type":"link out","z":"c31b20c5.2adee","name":"","links":["af17068d.d20fa8"],"x":1205.0001831054688,"y":217.00001907348633,"wires":[]},{"id":"9a0b2a3f.94f538","type":"link out","z":"c31b20c5.2adee","name":"","links":["af17068d.d20fa8"],"x":166.00000762939453,"y":394.9999990463257,"wires":[]},{"id":"4bfba108.1adac","type":"link out","z":"c31b20c5.2adee","name":"","links":["39c9f559.4e087a"],"x":165.00000762939453,"y":435.9999990463257,"wires":[]},{"id":"120e58cc.1ac9d7","type":"change","z":"c31b20c5.2adee","name":"Start Micro","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":144.00000762939453,"y":171.99999904632568,"wires":[["e33722ec.90a5c"]]},{"id":"adb2b9fb.e44ec8","type":"change","z":"c31b20c5.2adee","name":"Stop Micro","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":143.50617218017578,"y":230.80609035491943,"wires":[["36f4fd1b.e2f2c2"]]},{"id":"1391e317.e60aed","type":"link in","z":"c31b20c5.2adee","name":"Start micro triggerword","links":["f3839984.e5bc28","62817c28.8d68e4","adbbdb48.fdd148"],"x":28.00000762939453,"y":172,"wires":[["120e58cc.1ac9d7"]]},{"id":"b5fb94d.9f6f968","type":"link in","z":"c31b20c5.2adee","name":"Stop micro triggerword","links":["a320178.51ea6e8","9a2c54fe.b97948"],"x":26.00000762939453,"y":231.00001049041748,"wires":[["adb2b9fb.e44ec8"]]},{"id":"a3155656.4e1cf8","type":"inject","z":"c31b20c5.2adee","name":"Start","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"x":87.00005340576172,"y":80.00000190734863,"wires":[["f3839984.e5bc28"]]},{"id":"fd26f884.6b8578","type":"inject","z":"c31b20c5.2adee","name":"Stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":88.49383163452148,"y":119.44382095336914,"wires":[["a320178.51ea6e8"]]},{"id":"29fcce55.3a00f2","type":"link out","z":"c31b20c5.2adee","name":"LED Loop Output","links":["a5bf7145.cb3d8","424d51f5.6f3fd"],"x":490.00000762939453,"y":119.99999904632568,"wires":[]},{"id":"f3839984.e5bc28","type":"link out","z":"c31b20c5.2adee","name":"","links":["1391e317.e60aed"],"x":177.89583206176758,"y":80.88888454437256,"wires":[]},{"id":"a320178.51ea6e8","type":"link out","z":"c31b20c5.2adee","name":"","links":["b5fb94d.9f6f968"],"x":176.89583778381348,"y":118.88888359069824,"wires":[]},{"id":"9a2c54fe.b97948","type":"link out","z":"c31b20c5.2adee","name":"","links":["b5fb94d.9f6f968"],"x":977.895917892456,"y":174.8888816833496,"wires":[]},{"id":"adbbdb48.fdd148","type":"link out","z":"c31b20c5.2adee","name":"","links":["1391e317.e60aed"],"x":1212.8962621688843,"y":1078.222743988037,"wires":[]},{"id":"62817c28.8d68e4","type":"link out","z":"c31b20c5.2adee","name":"","links":["1391e317.e60aed"],"x":954.8958396911621,"y":466.0001769065857,"wires":[]},{"id":"eb75c978.05c828","type":"function","z":"c31b20c5.2adee","name":"Turn off GREEN","func":"msg.payload = 0;\nmsg.led = \"green\";\nreturn msg;","outputs":1,"noerr":0,"x":299.8958435058594,"y":629.888916015625,"wires":[["d21aeb37.c460d8"]]},{"id":"d21aeb37.c460d8","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["7f496efa.2e4e7","e238bbab.0b3fb8"],"x":434.77509593963623,"y":629.7743310928345,"wires":[]},{"id":"59224d15.67bc34","type":"exec","z":"c31b20c5.2adee","command":"aplay -c 1 /home/pi/activated.wav","addpay":false,"append":"","useSpawn":true,"timer":"","name":"Audio","x":1077.8299827575684,"y":208.51389122009277,"wires":[[],[],["d11adc4b.7dae8","a8044149.a6cb9"]]},{"id":"a8044149.a6cb9","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":1255.895938873291,"y":156.88888931274414,"wires":[]},{"id":"41822de8.980624","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":774.8958282470703,"y":487.8889150619507,"wires":[]},{"id":"c4cb16a1.251c78","type":"exec","z":"c31b20c5.2adee","command":"aplay /home/pi/thinking.wav","addpay":false,"append":"","useSpawn":true,"timer":"","name":"Audio","x":288.6666679382324,"y":854.6666736602783,"wires":[[],[],[]]},{"id":"6e5f7212.69baac","type":"comment","z":"d4ba6a8c.0475b8","name":"2. Setup Sample Data","info":"In this step we will populate the sample content and the sample dialog to Watson Content Hub and the Watson Conversation Service.","x":137.66665649414062,"y":350.6666660308838,"wires":[]},{"id":"926884b5.1c2ef8","type":"comment","z":"d4ba6a8c.0475b8","name":"1. Setup Credentials","info":"","x":141.66665649414062,"y":218.6666965484619,"wires":[]},{"id":"c3c812c6.27908","type":"inject","z":"d4ba6a8c.0475b8","name":"Upload","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":125,"y":423.6666536331177,"wires":[["305a8e86.7f6f92"]]},{"id":"b477d909.d5c7f8","type":"debug","z":"d4ba6a8c.0475b8","name":"","active":true,"console":"false","complete":"true","x":561.0000419616699,"y":424.9999809265137,"wires":[]},{"id":"305a8e86.7f6f92","type":"exec","z":"d4ba6a8c.0475b8","command":"node /home/pi/sample-wch-conversation-server/sampledata/samplesetup.js init --all","addpay":false,"append":"","useSpawn":"","timer":"","name":"Trigger Setup","x":343.50000762939453,"y":424.5000114440918,"wires":[["b477d909.d5c7f8"],["b477d909.d5c7f8"],["b477d909.d5c7f8"]]},{"id":"c4a5cf2e.92405","type":"function","z":"d4ba6a8c.0475b8","name":"Set Chatbot credentials","func":"var settings = {\n    \"tone_analyzer\": [\n        {\n            \"credentials\": {\n                \"url\": \"<Copy the credentials from bluemix>\",\n                \"username\": \"<Copy the credentials from bluemix>\",\n                \"password\": \"<Copy the credentials from bluemix>\"\n            },\n            \"syslog_drain_url\": null,\n            \"label\": \"tone_analyzer\",\n            \"provider\": null,\n            \"plan\": \"standard\",\n            \"name\": \"wch-toneanalyzer\",\n            \"tags\": [\n                \"watson\",\n                \"ibm_created\",\n                \"ibm_dedicated_public\",\n                \"lite\"\n            ]\n        }\n    ],\n    \"conversation\": [\n        {\n            \"credentials\": {\n                \"url\": \"<Copy the credentials from bluemix>\",\n                \"username\": \"<Copy the credentials from bluemix>\",\n                \"password\": \"<Copy the credentials from bluemix>\"\n            },\n            \"syslog_drain_url\": null,\n            \"label\": \"conversation\",\n            \"provider\": null,\n            \"plan\": \"standard\",\n            \"name\": \"wch-conversation\",\n            \"tags\": [\n                \"watson\",\n                \"ibm_created\",\n                \"ibm_dedicated_public\",\n                \"lite\"\n            ]\n        }\n    ],\n    \"user-provided\": [\n        {\n            \"credentials\": {\n                \"baseurl\": \"<Copy the baseUrl from the WCH Authoring UI>\",\n                \"hosturl\": \"<Copy the hosturl from the WCH Authoring UI>\",\n                \"tenantid\": \"<Copy the tenantid from the WCH Authoring UI>\",\n                \"username\": \"<A valid wch user>\",\n                \"password\": \"<The password>\"\n            },\n            \"syslog_drain_url\": \"\",\n            \"label\": \"user-provided\",\n            \"name\": \"wch_config\",\n            \"tags\": []\n        },\n        {\n            \"credentials\": {\n                \"clientid\": \"<Client ID of your Slack Application>\",\n                \"clientsecret\": \"<Client Secret of your Slack Application>\",\n                \"verificationtoken\": \"<Verification Token of your Slack Application>\",\n                \"redirectUri\": \"<Redirect URL for OAuth Flow>\",\n                \"profcontent\": \"<Simple Slack Bot Token>\"\n            },\n            \"syslog_drain_url\": \"\",\n            \"label\": \"user-provided\",\n            \"name\": \"bot_config\",\n            \"tags\": []\n        },\n        {\n            \"credentials\": {\n                \"key\": \"<apiKey to Geolocation API>\"\n            },\n            \"syslog_drain_url\": \"\",\n            \"label\": \"user-provided\",\n            \"name\": \"geo_config\",\n            \"tags\": []\n        }\n    ]\n};\nmsg.payload = settings;\nreturn msg;","outputs":1,"noerr":0,"x":400.50007247924805,"y":288.3334503173828,"wires":[["c91a3568.85c468"]]},{"id":"59a1787f.1ce258","type":"inject","z":"d4ba6a8c.0475b8","name":"Upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146.66665649414062,"y":288.6667022705078,"wires":[["c4a5cf2e.92405"]]},{"id":"c91a3568.85c468","type":"file","z":"d4ba6a8c.0475b8","name":"Store credentials","filename":"/home/pi/sample-wch-conversation-server/dch_vcap.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":682.5,"y":288.33337020874023,"wires":[]},{"id":"6152baa.5d8fd44","type":"comment","z":"d4ba6a8c.0475b8","name":"3. Restart Chatserver","info":"Restart the chat service to enable your credentials.","x":137.66665649414062,"y":493.6666612625122,"wires":[]},{"id":"17f7b236.9f738e","type":"comment","z":"d4ba6a8c.0475b8","name":"(Optional) Reboot System","info":"","x":129.66665649414062,"y":683.6667766571045,"wires":[]},{"id":"2de1924d.374b4e","type":"rpi-gpio out","z":"2a1a0d50.4be062","name":"","pin":"7","set":true,"level":"1","out":"out","x":878.4000244140625,"y":285.00000953674316,"wires":[]},{"id":"e94ad19f.8fcaa","type":"change","z":"c31b20c5.2adee","name":"Thinking true","rules":[{"t":"set","p":"thinking","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1131.933437347412,"y":541.933388710022,"wires":[["ca775847.2d7ae8"]]},{"id":"cbe0f257.d303d","type":"switch","z":"c31b20c5.2adee","name":"If Thiknig","property":"thinking","propertyType":"global","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","outputs":2,"x":964.9333229064941,"y":548.9333238601685,"wires":[["e94ad19f.8fcaa"],[]]},{"id":"73a964e0.2cbaec","type":"exec","z":"d4ba6a8c.0475b8","command":"sudo service chatbot restart","addpay":true,"append":"","useSpawn":true,"timer":"","name":"Restart Chat Server","x":340.66665267944336,"y":575.6666922569275,"wires":[["a0f45d88.98b9f"],["a0f45d88.98b9f"],["a0f45d88.98b9f"]]},{"id":"4a8b26bf.980d08","type":"inject","z":"d4ba6a8c.0475b8","name":"Upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120.66665649414062,"y":575.6666612625122,"wires":[["73a964e0.2cbaec"]]},{"id":"a0f45d88.98b9f","type":"debug","z":"d4ba6a8c.0475b8","name":"","active":true,"console":"false","complete":"true","x":582.6666831970215,"y":575.6666917800903,"wires":[]},{"id":"7a7469f.0da8a98","type":"exec","z":"d4ba6a8c.0475b8","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Restart","x":346.7656364440918,"y":744.7501373291016,"wires":[["810b17e0.8f21d8"],["810b17e0.8f21d8"],["810b17e0.8f21d8"]]},{"id":"7afbb3ae.fa5f4c","type":"inject","z":"d4ba6a8c.0475b8","name":"Upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133.765625,"y":743.750096321106,"wires":[["7a7469f.0da8a98"]]},{"id":"810b17e0.8f21d8","type":"debug","z":"d4ba6a8c.0475b8","name":"","active":true,"console":"false","complete":"true","x":583.765625,"y":744.7501678466797,"wires":[]},{"id":"c7d43a81.52a648","type":"comment","z":"c31b20c5.2adee","name":"Credentials","info":"Here we need your Speech To Text Service credentials. For instructions have a look at https://www.ibm.com/watson/developercloud/doc/common/getting-started-credentials.html.","x":587.765625,"y":163.75,"wires":[]},{"id":"dbe2c0a4.134a6","type":"comment","z":"c31b20c5.2adee","name":"Credentials","info":"Here we need your Speech To Text Service credentials. For instructions have a look at https://www.ibm.com/watson/developercloud/doc/common/getting-started-credentials.html.","x":559.7656288146973,"y":494.75001430511475,"wires":[]},{"id":"d9ba0350.4ab0c","type":"comment","z":"c31b20c5.2adee","name":"Credentials","info":"Here we need your Text To Speech Service credentials. For instructions have a look at https://www.ibm.com/watson/developercloud/doc/common/getting-started-credentials.html.","x":340.765625,"y":1099.75,"wires":[]},{"id":"afeac321.b5167","type":"function","z":"2a1a0d50.4be062","name":"Toggle GREEN","func":"msg.payload = null;\nmsg.led=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":720.1041107177734,"y":612.7499885559082,"wires":[["1b48e9a4.1ec8e6","6455a762.d4eb58"]]},{"id":"1b48e9a4.1ec8e6","type":"link out","z":"2a1a0d50.4be062","name":"LED","links":["e238bbab.0b3fb8"],"x":896.337703704834,"y":693.483362197876,"wires":[]},{"id":"af17717d.0ce5f","type":"delay","z":"2a1a0d50.4be062","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":542.104118347168,"y":614.7500696182251,"wires":[["afeac321.b5167"]]},{"id":"7802cd2d.791f54","type":"switch","z":"2a1a0d50.4be062","name":"If Stop","property":"waitForTrigger","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":380.1041069030762,"y":657.7500104904175,"wires":[["af17717d.0ce5f","69541709.4baf18"],["ac6cedd1.1b53e","69541709.4baf18"]]},{"id":"ac6cedd1.1b53e","type":"function","z":"2a1a0d50.4be062","name":"Turn off GREEN","func":"msg.payload = 0;\nmsg.led = \"green\";\nreturn msg;","outputs":1,"noerr":0,"x":557.1043090820312,"y":696.7499942779541,"wires":[["1b48e9a4.1ec8e6"]]},{"id":"424d51f5.6f3fd","type":"link in","z":"2a1a0d50.4be062","name":"LED Loop Input","links":["6455a762.d4eb58","29fcce55.3a00f2"],"x":216.10407733917236,"y":656.7499837875366,"wires":[["7802cd2d.791f54"]]},{"id":"6455a762.d4eb58","type":"link out","z":"2a1a0d50.4be062","name":"LED Loop Output","links":["424d51f5.6f3fd"],"x":896.1041107177734,"y":594.7499885559082,"wires":[]},{"id":"4af682b8.ed1c1c","type":"comment","z":"2a1a0d50.4be062","name":"LED Toggle Triggerword","info":"Toggle flow to let the green LED blink.","x":151,"y":605.6388635635376,"wires":[]},{"id":"69541709.4baf18","type":"debug","z":"2a1a0d50.4be062","name":"","active":false,"console":"false","complete":"true","x":550.0000267028809,"y":656.6389789581299,"wires":[]},{"id":"838b1cd2.c103d","type":"comment","z":"d4ba6a8c.0475b8","name":"(Optional) Change App Settings","info":"If you like you can define which features of the sample should be enabled or disabled.","x":174.765625,"y":54.749996185302734,"wires":[]},{"id":"6ef73ca1.b762d4","type":"file","z":"d4ba6a8c.0475b8","name":"Store Settings","filename":"/home/pi/sample-wch-conversation-server/app_settings.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":659.7656307220459,"y":134.75,"wires":[]},{"id":"281fe78a.badb98","type":"function","z":"d4ba6a8c.0475b8","name":"Set App Settings","func":"var settings = {\n \"geolocationservice\": {\n  \"enabled\": true\n },\n \"bot_config\": {\n  \"enabled\": {\n   \"developermode\": false,\n   \"raspberry\": true,\n   \"slack\": false\n  },\n  \"icons\": {\n   \"mrwatson\": \"https://my6.digitalexperience.ibm.com/8f032d79-a358-4825-af1b-d6cc169692c6/dxdam/8c/8c290073-6365-4400-8dce-40e286667e50/MrWatson.PNG\",\n   \"profcontent\": \"\",\n   \"drhub\": \"\"\n  }\n },\n \"wch_config\": {\n  \"caching\": true\n },\n \"wch_conversation\": {\n  \"workspace_id\": {\n   \"en\": \"<YOUR WORKSPACE ID GOES HERE WILL BE SET AUTOMATICALLY IN STEP 2>\"\n  }\n },\n \"wch_toneanalyzer\": {\n  \"enabled\": true\n }\n};\nmsg.payload = settings;\nreturn msg;","outputs":1,"noerr":0,"x":367.76570320129395,"y":134.75008010864258,"wires":[["6ef73ca1.b762d4"]]},{"id":"2f23a578.efdb0a","type":"inject","z":"d4ba6a8c.0475b8","name":"Upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133.93228721618652,"y":135.08333206176758,"wires":[["281fe78a.badb98"]]},{"id":"1a687426.8c548c","type":"comment","z":"d4ba6a8c.0475b8","name":"Credentials for Admin User","info":"If you want to have a closer look at the sample go ahead by login is as the user `pi` with the credentials `wchrocks123`.","x":129.765625,"y":840.75,"wires":[]},{"id":"506e2558.5fe84c","type":"comment","z":"d4ba6a8c.0475b8","name":"Fill in all Credentials here","info":"","x":403.765625,"y":250.75001049041748,"wires":[]}]
