sampledata/nodered/chatbotflows.json
[{"id":"c31b20c5.2adee","type":"tab","label":"Chatbot Flow"},{"id":"2a1a0d50.4be062","type":"tab","label":"LED Handling"},{"id":"d4ba6a8c.0475b8","type":"tab","label":"Setup Chatbot"},{"id":"5edab350.012c3c","type":"tab","label":"Setup Chatbot No UI"},{"id":"d948e546.0f9068","type":"websocket-listener","z":"5edab350.012c3c","path":"/ws/simple","wholemsg":"false"},{"id":"55f716a6.1f7878","type":"ui_group","z":"","name":"Wifi Setup","tab":"","disp":true,"width":"6"},{"id":"59041944.7273e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Setup Wifi","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":200,"sy":100,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11691d5f.21bad3","type":"ui_tab","z":"","name":"Setup Wifi","icon":"dashboard","order":2},{"id":"1899634a.11eb5d","type":"ui_group","z":"","name":"Setup","tab":"11691d5f.21bad3","order":1,"disp":true,"width":"9"},{"id":"fcf173ae.5ba0f","type":"ui_tab","z":"","name":"App Settings","icon":"dashboard","order":3},{"id":"fa2a0a60.0c5b88","type":"ui_group","z":"","name":"App Settings","tab":"fcf173ae.5ba0f","order":1,"disp":true,"width":"6"},{"id":"57e8d08d.e6b06","type":"ui_tab","z":"","name":"Setup Credentials","icon":"dashboard","order":4},{"id":"5f523c7d.7b8394","type":"ui_group","z":"","name":"Credentials","tab":"57e8d08d.e6b06","order":1,"disp":true,"width":"6"},{"id":"ee8b2c95.d56d6","type":"ui_tab","z":"","name":"Setup Sample","icon":"dashboard","order":5},{"id":"20df9b85.fb4ed4","type":"ui_group","z":"","name":"Setup Sample Data","tab":"ee8b2c95.d56d6","order":1,"disp":true,"width":"6"},{"id":"2f0c3eff.bf1e42","type":"ui_tab","z":"","name":"Reboot Sample","icon":"dashboard","order":6},{"id":"a93f8749.bbd7c8","type":"ui_group","z":"","name":"Reboot Sample","tab":"2f0c3eff.bf1e42","order":1,"disp":true,"width":"6"},{"id":"739b41e0.f3054","type":"ui_tab","z":"","name":"Welcome","icon":"dashboard","order":1},{"id":"e9c52de3.50f6a","type":"ui_group","z":"","name":"Welcome","tab":"739b41e0.f3054","order":1,"disp":true,"width":"6"},{"id":"dce08cf1.e16a4","type":"rpi-gpio out","z":"2a1a0d50.4be062","name":"","pin":"7","set":true,"level":"1","out":"out","x":870.7330284118652,"y":447.03329372406006,"wires":[]},{"id":"9d9f30ad.c8589","type":"rpi-gpio out","z":"2a1a0d50.4be062","name":"","pin":"12","set":true,"level":"1","out":"out","x":871.8998527526855,"y":95.19997310638428,"wires":[]},{"id":"f9af8bef.0f94e8","type":"function","z":"2a1a0d50.4be062","name":"Turn on RED","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":671.8996200561523,"y":285.1999101638794,"wires":[["2de1924d.374b4e"]]},{"id":"579c16e7.f0d728","type":"comment","z":"2a1a0d50.4be062","name":"LED handling","info":"This Flow is just handling the LED for our bot. \nYou can turn on/off a specific color or toggle a color\nbased on your needs.\n\nIt expects a generic message of the following format:\n``` json\n{\n    \"payload\" : 1,\n    \"led\" : \"green\"\n}\n```\nWhere:\n- payload: Can be 1/0/undefined. If payload is undefined the LED will be toggled\n- led: Can be green/red/blue. This is the target of our call. You can also add more than a color.\n\nMore Samples:\n``` json\n{\n    \"payload\" : 0,\n    \"led\" : \"red\"\n}\n```\n-----\n``` json\n{\n    \"led\" : \"red green\"\n}\n```\n-----\n``` json\n{\n    \"payload\" : 0,\n    \"led\" : \"red green blue\"\n}\n```","x":120,"y":48.999996185302734,"wires":[]},{"id":"9d797077.abe4b","type":"function","z":"2a1a0d50.4be062","name":"Turn off RED","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":672.8996086120605,"y":336.1998929977417,"wires":[["2de1924d.374b4e"]]},{"id":"7929b50f.59dc0c","type":"function","z":"2a1a0d50.4be062","name":"Toggle RED","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":668.8996315002441,"y":240.19990921020508,"wires":[["2de1924d.374b4e"]]},{"id":"873eb8ad.ac0e78","type":"function","z":"2a1a0d50.4be062","name":"Turn on GREEN","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":675.8329124450684,"y":97.46653652191162,"wires":[["9d9f30ad.c8589"]]},{"id":"69b8af43.1ddb4","type":"function","z":"2a1a0d50.4be062","name":"Turn off GREEN","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":676.8329010009766,"y":148.46651935577393,"wires":[["9d9f30ad.c8589"]]},{"id":"76eab8fc.836478","type":"function","z":"2a1a0d50.4be062","name":"Toggle GREEN","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":672.8329238891602,"y":52.466535568237305,"wires":[["9d9f30ad.c8589"]]},{"id":"e238bbab.0b3fb8","type":"link in","z":"2a1a0d50.4be062","name":"LED","links":["29217488.4e5d3c","a19f6c42.00d6d","5fb45a7d.5014b4","acaedace.2e2758","51bf881.e803378","573e7bd.fcf9084","1b48e9a4.1ec8e6","2bf9c48e.2d224c","f2e65dd5.24a2b","ca0f130e.9c1b7","b5d78dcd.4137c"],"x":168.06636810302734,"y":210.1998291015625,"wires":[["b9150669.8112f8"]]},{"id":"b9150669.8112f8","type":"switch","z":"2a1a0d50.4be062","name":"Switch","property":"led","propertyType":"msg","rules":[{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"blue","vt":"str"}],"checkall":"true","outputs":3,"x":281.0664405822754,"y":210.06653785705566,"wires":[["9da8d56d.a4de78"],["f247aab7.26db88"],["406ce7e4.f2e6b8"]]},{"id":"e8f1e9de.a508c8","type":"function","z":"2a1a0d50.4be062","name":"Turn on BLUE","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":683.5662384033203,"y":455.13318729400635,"wires":[["dce08cf1.e16a4"]]},{"id":"1ddf19c9.307cd6","type":"function","z":"2a1a0d50.4be062","name":"Turn off BLUE","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":684.5662269592285,"y":506.13317012786865,"wires":[["dce08cf1.e16a4"]]},{"id":"fbe9dc2.315de2","type":"function","z":"2a1a0d50.4be062","name":"Toggle BLUE","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":670.5662498474121,"y":410.13318634033203,"wires":[["dce08cf1.e16a4"]]},{"id":"9da8d56d.a4de78","type":"switch","z":"2a1a0d50.4be062","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","outputs":3,"x":450.56617736816406,"y":85.1331615447998,"wires":[["76eab8fc.836478"],["873eb8ad.ac0e78"],["69b8af43.1ddb4"]]},{"id":"f247aab7.26db88","type":"switch","z":"2a1a0d50.4be062","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","outputs":3,"x":460.56615829467773,"y":279.1331443786621,"wires":[["7929b50f.59dc0c"],["f9af8bef.0f94e8"],["9d797077.abe4b"]]},{"id":"406ce7e4.f2e6b8","type":"switch","z":"2a1a0d50.4be062","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","outputs":3,"x":483.56617736816406,"y":453.13317680358887,"wires":[["fbe9dc2.315de2"],["e8f1e9de.a508c8"],["1ddf19c9.307cd6"]]},{"id":"dac427c4.273338","type":"inject","z":"2a1a0d50.4be062","name":"Toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":495.50621032714844,"y":387.38122177124023,"wires":[["fbe9dc2.315de2"]]},{"id":"32e7b926.da3946","type":"inject","z":"2a1a0d50.4be062","name":"Toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":478.8125,"y":192.81875610351562,"wires":[["7929b50f.59dc0c"]]},{"id":"e6fae7a8.305cc8","type":"inject","z":"2a1a0d50.4be062","name":"Toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":464.8125,"y":34.81875228881836,"wires":[["76eab8fc.836478"]]},{"id":"6e5f7212.69baac","type":"comment","z":"d4ba6a8c.0475b8","name":"3. Setup Sample Data","info":"In this step we will populate the sample content and the sample dialog to Watson Content Hub and the Watson Conversation Service.","x":147.66665649414062,"y":476.6666660308838,"wires":[]},{"id":"926884b5.1c2ef8","type":"comment","z":"d4ba6a8c.0475b8","name":"2. Setup Credentials","info":"","x":151.66665649414062,"y":344.6666965484619,"wires":[]},{"id":"c3c812c6.27908","type":"inject","z":"d4ba6a8c.0475b8","name":"Upload","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":135,"y":549.6666536331177,"wires":[["305a8e86.7f6f92"]]},{"id":"305a8e86.7f6f92","type":"exec","z":"d4ba6a8c.0475b8","command":"node /home/pi/sample-wch-conversation-server/sampledata/samplesetup.js init --all","addpay":false,"append":"","useSpawn":"","timer":"","name":"Trigger Setup","x":353.50000762939453,"y":550.5000114440918,"wires":[["c84aaab8.add318"],["c84aaab8.add318"],["c84aaab8.add318"]]},{"id":"c4a5cf2e.92405","type":"function","z":"d4ba6a8c.0475b8","name":"Set Chatbot credentials","func":"var settings = {\n    \"tone_analyzer\": [\n        {\n            \"credentials\": {\n                \"url\": msg.payload.toneurl,\n                \"username\": msg.payload.toneuser,\n                \"password\": msg.payload.tonepwd\n            },\n            \"syslog_drain_url\": null,\n            \"label\": \"tone_analyzer\",\n            \"provider\": null,\n            \"plan\": \"standard\",\n            \"name\": \"wch-toneanalyzer\",\n            \"tags\": [\n                \"watson\",\n                \"ibm_created\",\n                \"ibm_dedicated_public\",\n                \"lite\"\n            ]\n        }\n    ],\n    \"conversation\": [\n        {\n            \"credentials\": {\n                \"url\": msg.payload.convurl,\n                \"username\": msg.payload.convuser,\n                \"password\": msg.payload.convpwd\n            },\n            \"syslog_drain_url\": null,\n            \"label\": \"conversation\",\n            \"provider\": null,\n            \"plan\": \"standard\",\n            \"name\": \"wch-conversation\",\n            \"tags\": [\n                \"watson\",\n                \"ibm_created\",\n                \"ibm_dedicated_public\",\n                \"lite\"\n            ]\n        }\n    ],\n    \"user-provided\": [\n        {\n            \"credentials\": {\n                \"apiurl\": msg.payload.wchurl,\n                \"hubid\": msg.payload.wchhubid,\n                \"username\": msg.payload.wchuser,\n                \"password\": msg.payload.wchpwd\n            },\n            \"syslog_drain_url\": \"\",\n            \"label\": \"user-provided\",\n            \"name\": \"wch_config\",\n            \"tags\": []\n        },\n        {\n            \"credentials\": {\n                \"clientid\": msg.payload.slackid,\n                \"clientsecret\": msg.payload.slacksecret,\n                \"verificationtoken\": msg.payload.slackvertoken,\n                \"redirectUri\": msg.payload.slackurl,\n                \"profcontent\": msg.payload.slackdevtoken\n            },\n            \"syslog_drain_url\": \"\",\n            \"label\": \"user-provided\",\n            \"name\": \"bot_config\",\n            \"tags\": []\n        },\n        {\n            \"credentials\": {\n                \"key\": msg.payload.geotoken\n            },\n            \"syslog_drain_url\": \"\",\n            \"label\": \"user-provided\",\n            \"name\": \"geo_config\",\n            \"tags\": []\n        }\n    ]\n};\nmsg.payload = settings;\nreturn msg;","outputs":1,"noerr":0,"x":410.50007247924805,"y":414.3334503173828,"wires":[["c91a3568.85c468","3f073c25.9451f4"]]},{"id":"c91a3568.85c468","type":"file","z":"d4ba6a8c.0475b8","name":"Store credentials","filename":"/home/pi/sample-wch-conversation-server/dch_vcap.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":692.5,"y":414.33337020874023,"wires":[]},{"id":"6152baa.5d8fd44","type":"comment","z":"d4ba6a8c.0475b8","name":"(Optional) Restart Chatserver","info":"Restart the chat service to enable your credentials.","x":162.66666412353516,"y":743.6667766571045,"wires":[]},{"id":"17f7b236.9f738e","type":"comment","z":"d4ba6a8c.0475b8","name":"4. Reboot System","info":"","x":134.66665649414062,"y":629.666835308075,"wires":[]},{"id":"2de1924d.374b4e","type":"rpi-gpio out","z":"2a1a0d50.4be062","name":"","pin":"11","set":true,"level":"1","out":"out","x":878.4000244140625,"y":285.00000953674316,"wires":[]},{"id":"73a964e0.2cbaec","type":"exec","z":"d4ba6a8c.0475b8","command":"sudo service chatbot restart","addpay":true,"append":"","useSpawn":true,"timer":"","name":"Restart Chat Server","x":345.6666603088379,"y":825.6668076515198,"wires":[["a0f45d88.98b9f"],["a0f45d88.98b9f"],["a0f45d88.98b9f"]]},{"id":"4a8b26bf.980d08","type":"inject","z":"d4ba6a8c.0475b8","name":"Upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.66666412353516,"y":825.6667766571045,"wires":[["73a964e0.2cbaec"]]},{"id":"a0f45d88.98b9f","type":"debug","z":"d4ba6a8c.0475b8","name":"","active":true,"console":"false","complete":"true","x":587.666690826416,"y":825.6668071746826,"wires":[]},{"id":"7a7469f.0da8a98","type":"exec","z":"d4ba6a8c.0475b8","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Restart","x":350.7656440734863,"y":688.7502641677856,"wires":[["810b17e0.8f21d8"],["810b17e0.8f21d8"],["810b17e0.8f21d8"]]},{"id":"810b17e0.8f21d8","type":"debug","z":"d4ba6a8c.0475b8","name":"","active":true,"console":"false","complete":"true","x":587.7656326293945,"y":688.7502946853638,"wires":[]},{"id":"afeac321.b5167","type":"function","z":"2a1a0d50.4be062","name":"Toggle GREEN","func":"msg.payload = null;\nmsg.led=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":720.1041107177734,"y":612.7499885559082,"wires":[["1b48e9a4.1ec8e6","6455a762.d4eb58"]]},{"id":"1b48e9a4.1ec8e6","type":"link out","z":"2a1a0d50.4be062","name":"LED","links":["e238bbab.0b3fb8"],"x":896.337703704834,"y":693.483362197876,"wires":[]},{"id":"af17717d.0ce5f","type":"delay","z":"2a1a0d50.4be062","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":542.104118347168,"y":614.7500696182251,"wires":[["afeac321.b5167"]]},{"id":"7802cd2d.791f54","type":"switch","z":"2a1a0d50.4be062","name":"If Stop","property":"waitForTrigger","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":380.1041069030762,"y":657.7500104904175,"wires":[["af17717d.0ce5f","69541709.4baf18"],["ac6cedd1.1b53e","69541709.4baf18"]]},{"id":"ac6cedd1.1b53e","type":"function","z":"2a1a0d50.4be062","name":"Turn off GREEN","func":"msg.payload = 0;\nmsg.led = \"green\";\nreturn msg;","outputs":1,"noerr":0,"x":557.1043090820312,"y":696.7499942779541,"wires":[["1b48e9a4.1ec8e6"]]},{"id":"424d51f5.6f3fd","type":"link in","z":"2a1a0d50.4be062","name":"LED Loop Input","links":["6455a762.d4eb58","29fcce55.3a00f2","2b425961.bec9f6"],"x":216.10407733917236,"y":656.7499837875366,"wires":[["7802cd2d.791f54"]]},{"id":"6455a762.d4eb58","type":"link out","z":"2a1a0d50.4be062","name":"LED Loop Output","links":["424d51f5.6f3fd"],"x":896.1041107177734,"y":594.7499885559082,"wires":[]},{"id":"4af682b8.ed1c1c","type":"comment","z":"2a1a0d50.4be062","name":"LED Toggle Triggerword","info":"Toggle flow to let the green LED blink.","x":151,"y":605.6388635635376,"wires":[]},{"id":"69541709.4baf18","type":"debug","z":"2a1a0d50.4be062","name":"","active":false,"console":"false","complete":"true","x":550.0000267028809,"y":656.6389789581299,"wires":[]},{"id":"838b1cd2.c103d","type":"comment","z":"d4ba6a8c.0475b8","name":"(Optional) Change App Settings","info":"If you like you can define which features of the sample should be enabled or disabled.","x":184.765625,"y":180.74999618530273,"wires":[]},{"id":"6ef73ca1.b762d4","type":"file","z":"d4ba6a8c.0475b8","name":"Store Settings","filename":"/home/pi/sample-wch-conversation-server/app_settings.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":681.7656326293945,"y":262.7500114440918,"wires":[]},{"id":"281fe78a.badb98","type":"function","z":"d4ba6a8c.0475b8","name":"Set App Settings","func":"var settings = {\n \"geolocationservice\": {\n  \"enabled\": msg.payload.geo\n },\n \"bot_config\": {\n  \"enabled\": {\n   \"developermode\": msg.payload.devmode,\n   \"raspberry\": msg.payload.raspberry,\n   \"slack\": msg.payload.slack\n  },\n  \"icons\": {\n   \"mrwatson\": \"https://my6.digitalexperience.ibm.com/8f032d79-a358-4825-af1b-d6cc169692c6/dxdam/8c/8c290073-6365-4400-8dce-40e286667e50/MrWatson.PNG\",\n   \"profcontent\": \"\",\n   \"drhub\": \"\"\n  }\n },\n \"wch_config\": {\n  \"caching\": msg.payload.wchcaching\n },\n \"wch_conversation\": {\n  \"workspace_id\": {\n   \"en\": \"<YOUR WORKSPACE ID GOES HERE WILL BE SET AUTOMATICALLY IN STEP 2>\"\n  }\n },\n \"wch_toneanalyzer\": {\n  \"enabled\": msg.payload.tone\n }\n};\nmsg.payload = settings;\nreturn msg;","outputs":1,"noerr":0,"x":377.76570320129395,"y":260.7500801086426,"wires":[["6ef73ca1.b762d4","b34d4cbf.53923"]]},{"id":"1a687426.8c548c","type":"comment","z":"d4ba6a8c.0475b8","name":"Credentials for Admin User","info":"If you want to have a closer look at the sample go ahead by login is as the user `pi` with the password `wchrocks123`.","x":314.7656364440918,"y":37.75004196166992,"wires":[]},{"id":"506e2558.5fe84c","type":"comment","z":"d4ba6a8c.0475b8","name":"Fill in all Credentials here","info":"","x":413.765625,"y":376.7500104904175,"wires":[]},{"id":"aeb3f114.d8f6e","type":"comment","z":"d4ba6a8c.0475b8","name":"1. Setup WIFI","info":"http://172.24.1.1:1880/ui/#/1","x":114.765625,"y":37.75,"wires":[]},{"id":"cf521ffb.d1e8","type":"exec","z":"d4ba6a8c.0475b8","command":"sudo bash","addpay":true,"append":"","useSpawn":"","timer":"","name":"Trigger Setup","x":627.5,"y":104.75000381469727,"wires":[["17d64364.51e78d"],["17d64364.51e78d"],["17d64364.51e78d"]]},{"id":"c2863176.fc10c","type":"function","z":"d4ba6a8c.0475b8","name":"Set WIFI Settings","func":"var wifiSSID = msg.payload.ssid;\nvar wifiPWD = msg.payload.pwd;\n// DO NOT CHANGE ANYTHING DOWN HERE...\nmsg.payload = `-c 'wpa_passphrase \"${wifiSSID}\" \"${wifiPWD}\" >> /etc/wpa_supplicant/wpa_supplicant.conf'`;\nreturn msg;","outputs":1,"noerr":0,"x":381.765625,"y":104.75,"wires":[["cf521ffb.d1e8"]]},{"id":"e5d8460b.be6378","type":"comment","z":"5edab350.012c3c","name":"3. Setup Sample Data","info":"In this step we will populate the sample content and the sample dialog to Watson Content Hub and the Watson Conversation Service.","x":177.76563262939453,"y":686.9167327880859,"wires":[]},{"id":"72e00226.a70d2c","type":"comment","z":"5edab350.012c3c","name":"2. Setup Credentials","info":"","x":181.76563262939453,"y":554.9167633056641,"wires":[]},{"id":"8e6d2002.9ba32","type":"inject","z":"5edab350.012c3c","name":"Upload","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":165.0989761352539,"y":759.9167203903198,"wires":[["27c9e97a.ed0836"]]},{"id":"71bc892e.22f618","type":"debug","z":"5edab350.012c3c","name":"","active":true,"console":"false","complete":"true","x":601.0990180969238,"y":761.2500476837158,"wires":[]},{"id":"27c9e97a.ed0836","type":"exec","z":"5edab350.012c3c","command":"node /home/pi/sample-wch-conversation-server/sampledata/samplesetup.js init --all","addpay":false,"append":"","useSpawn":"","timer":"","name":"Trigger Setup","x":383.59898376464844,"y":760.750078201294,"wires":[["71bc892e.22f618"],["71bc892e.22f618"],["71bc892e.22f618"]]},{"id":"11d0aab0.74a335","type":"function","z":"5edab350.012c3c","name":"Set Chatbot credentials","func":"var settings = {\n    \"tone_analyzer\": [\n        {\n            \"credentials\": {\n                \"url\": \"<Copy the credentials from bluemix>\",\n                \"username\": \"<Copy the credentials from bluemix>\",\n                \"password\": \"<Copy the credentials from bluemix>\"\n            },\n            \"syslog_drain_url\": null,\n            \"label\": \"tone_analyzer\",\n            \"provider\": null,\n            \"plan\": \"standard\",\n            \"name\": \"wch-toneanalyzer\",\n            \"tags\": [\n                \"watson\",\n                \"ibm_created\",\n                \"ibm_dedicated_public\",\n                \"lite\"\n            ]\n        }\n    ],\n    \"conversation\": [\n        {\n            \"credentials\": {\n                \"url\": \"<Copy the credentials from bluemix>\",\n                \"username\": \"<Copy the credentials from bluemix>\",\n                \"password\": \"<Copy the credentials from bluemix>\"\n            },\n            \"syslog_drain_url\": null,\n            \"label\": \"conversation\",\n            \"provider\": null,\n            \"plan\": \"standard\",\n            \"name\": \"wch-conversation\",\n            \"tags\": [\n                \"watson\",\n                \"ibm_created\",\n                \"ibm_dedicated_public\",\n                \"lite\"\n            ]\n        }\n    ],\n    \"user-provided\": [\n        {\n            \"credentials\": {\n                \"apiurl\": \"<Copy the apiUrl from the WCH Authoring UI>\",\n                \"hubid\": \"<Copy the hubid from the WCH Authoring UI>\",\n                \"username\": \"<A valid wch user>\",\n                \"password\": \"<The password>\"\n            },\n            \"syslog_drain_url\": \"\",\n            \"label\": \"user-provided\",\n            \"name\": \"wch_config\",\n            \"tags\": []\n        },\n        {\n            \"credentials\": {\n                \"clientid\": \"<Client ID of your Slack Application>\",\n                \"clientsecret\": \"<Client Secret of your Slack Application>\",\n                \"verificationtoken\": \"<Verification Token of your Slack Application>\",\n                \"redirectUri\": \"<Redirect URL for OAuth Flow>\",\n                \"profcontent\": \"<Simple Slack Bot Token>\"\n            },\n            \"syslog_drain_url\": \"\",\n            \"label\": \"user-provided\",\n            \"name\": \"bot_config\",\n            \"tags\": []\n        },\n        {\n            \"credentials\": {\n                \"key\": \"<apiKey to Geolocation API>\"\n            },\n            \"syslog_drain_url\": \"\",\n            \"label\": \"user-provided\",\n            \"name\": \"geo_config\",\n            \"tags\": []\n        }\n    ]\n};\nmsg.payload = settings;\nreturn msg;","outputs":1,"noerr":0,"x":440.59904861450195,"y":624.583517074585,"wires":[["8aca2d4f.e4f63"]]},{"id":"f5796029.798e1","type":"inject","z":"5edab350.012c3c","name":"Upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":186.76563262939453,"y":624.91676902771,"wires":[["11d0aab0.74a335"]]},{"id":"8aca2d4f.e4f63","type":"file","z":"5edab350.012c3c","name":"Store credentials","filename":"/home/pi/sample-wch-conversation-server/dch_vcap.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":722.5989761352539,"y":624.5834369659424,"wires":[]},{"id":"af30120f.96f73","type":"comment","z":"5edab350.012c3c","name":"4. Restart Chatserver","info":"Restart the chat service to enable your credentials.","x":177.76563262939453,"y":829.9167280197144,"wires":[]},{"id":"2be713f6.997d0c","type":"comment","z":"5edab350.012c3c","name":"Reboot System","info":"","x":139.76563262939453,"y":1019.9168434143066,"wires":[]},{"id":"e9cb969b.fba458","type":"exec","z":"5edab350.012c3c","command":"sudo service chatbot restart","addpay":true,"append":"","useSpawn":true,"timer":"","name":"Restart Chat Server","x":380.76562881469727,"y":911.9167590141296,"wires":[["87185bec.6f72a8"],["87185bec.6f72a8"],["87185bec.6f72a8"]]},{"id":"72eaca2c.431fb4","type":"inject","z":"5edab350.012c3c","name":"Upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160.76563262939453,"y":911.9167280197144,"wires":[["e9cb969b.fba458"]]},{"id":"87185bec.6f72a8","type":"debug","z":"5edab350.012c3c","name":"","active":true,"console":"false","complete":"true","x":622.7656593322754,"y":911.9167585372925,"wires":[]},{"id":"21151dd6.641ba2","type":"exec","z":"5edab350.012c3c","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Restart","x":386.8646125793457,"y":1081.0002040863037,"wires":[["9bb99c21.7066c"],["9bb99c21.7066c"],["9bb99c21.7066c"]]},{"id":"aa80efcc.3139b","type":"inject","z":"5edab350.012c3c","name":"Upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":173.8646011352539,"y":1080.000163078308,"wires":[["21151dd6.641ba2"]]},{"id":"9bb99c21.7066c","type":"debug","z":"5edab350.012c3c","name":"","active":true,"console":"false","complete":"true","x":623.8646011352539,"y":1081.0002346038818,"wires":[]},{"id":"1b4be82f.44ea38","type":"comment","z":"5edab350.012c3c","name":"(Optional) Change App Settings","info":"If you like you can define which features of the sample should be enabled or disabled.","x":214.8646011352539,"y":391.0000629425049,"wires":[]},{"id":"1e33e342.62eded","type":"file","z":"5edab350.012c3c","name":"Store Settings","filename":"/home/pi/sample-wch-conversation-server/app_settings.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":699.8646068572998,"y":471.00006675720215,"wires":[]},{"id":"f8e469f2.2c9d28","type":"function","z":"5edab350.012c3c","name":"Set App Settings","func":"var settings = {\n \"geolocationservice\": {\n  \"enabled\": true\n },\n \"bot_config\": {\n  \"enabled\": {\n   \"developermode\": false,\n   \"raspberry\": true,\n   \"slack\": true\n  },\n  \"icons\": {\n   \"mrwatson\": \"https://my6.digitalexperience.ibm.com/8f032d79-a358-4825-af1b-d6cc169692c6/dxdam/8c/8c290073-6365-4400-8dce-40e286667e50/MrWatson.PNG\",\n   \"profcontent\": \"\",\n   \"drhub\": \"\"\n  }\n },\n \"wch_config\": {\n  \"caching\": true\n },\n \"wch_conversation\": {\n  \"workspace_id\": {\n   \"en\": \"<YOUR WORKSPACE ID GOES HERE>\"\n  }\n },\n \"wch_toneanalyzer\": {\n  \"enabled\": true\n }\n};\nmsg.payload = settings;\nreturn msg;","outputs":1,"noerr":0,"x":407.86467933654785,"y":471.0001468658447,"wires":[["1e33e342.62eded"]]},{"id":"ce201a3.0a417e8","type":"inject","z":"5edab350.012c3c","name":"Upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174.03126335144043,"y":471.3333988189697,"wires":[["f8e469f2.2c9d28"]]},{"id":"2c52e9d7.dafc56","type":"comment","z":"5edab350.012c3c","name":"Credentials for Admin User","info":"If you want to have a closer look at the sample go ahead by login is as the user `pi` with the credentials `wchrocks123`.","x":176.86460876464844,"y":1178.0000648498535,"wires":[]},{"id":"8e6edee4.38a5d","type":"comment","z":"5edab350.012c3c","name":"Fill in all Credentials here","info":"","x":443.8646011352539,"y":587.0000772476196,"wires":[]},{"id":"4c907662.bf8388","type":"comment","z":"5edab350.012c3c","name":"1. Setup WIFI","info":"","x":145.86459350585938,"y":57,"wires":[]},{"id":"c585ca9.e782e38","type":"comment","z":"5edab350.012c3c","name":"(Optional) Cleanup Sample","info":"This Flow will cleanup the credentials & image. DO NOT USE THIS UNLESS YOU WANT TO REMOVE THE SAMPLE FROM YOUR RASPBERRY.","x":177.8646011352539,"y":1290.0000667572021,"wires":[]},{"id":"3eb45aff.282a26","type":"exec","z":"5edab350.012c3c","command":"sudo bash","addpay":true,"append":"","useSpawn":"","timer":"","name":"Trigger Setup","x":658.5989685058594,"y":124.00000381469727,"wires":[["72094fc3.a78a1"],["72094fc3.a78a1"],["72094fc3.a78a1"]]},{"id":"30e2b4b.1d2b44c","type":"inject","z":"5edab350.012c3c","name":"Upload","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":178.09896850585938,"y":124.16664218902588,"wires":[["1405a3a4.01df3c"]]},{"id":"1405a3a4.01df3c","type":"function","z":"5edab350.012c3c","name":"Set WIFI Settings","func":"var wifiSSID = '<YOUR NETWORK SSID GOES HERE>';\nvar wifiPWD = '<YOUR NETWORK PASSWORD GOES HERE>';\n// DO NOT CHANGE ANYTHING DOWN HERE...\nmsg.payload = `-c 'wpa_passphrase \"${wifiSSID}\" \"${wifiPWD}\" >> /etc/wpa_supplicant/wpa_supplicant.conf'`;\nreturn msg;","outputs":1,"noerr":0,"x":412.8645935058594,"y":124,"wires":[["3eb45aff.282a26"]]},{"id":"72094fc3.a78a1","type":"debug","z":"5edab350.012c3c","name":"","active":true,"console":"false","complete":"true","x":850.8646507263184,"y":120.99999904632568,"wires":[]},{"id":"25a92c89.0da0b4","type":"ui_form","z":"d4ba6a8c.0475b8","name":"Setup Wifi Form","label":"Wifi Credentials","group":"1899634a.11eb5d","order":2,"width":"0","height":"0","options":[{"label":"Wifi SSID","value":"ssid","type":"text","required":true},{"label":"Password","value":"pwd","type":"password","required":true}],"formValue":{"ssid":"","pwd":""},"payload":"","topic":"","x":127.38290405273438,"y":104.43753433227539,"wires":[["c2863176.fc10c"]]},{"id":"17d64364.51e78d","type":"switch","z":"d4ba6a8c.0475b8","name":"Error","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Error","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":800.3867149353027,"y":108.3046932220459,"wires":[["bb07dccc.818e7"],["3d06ddd1.56a0e2"]]},{"id":"3d06ddd1.56a0e2","type":"change","z":"d4ba6a8c.0475b8","name":"Payload Success","rules":[{"t":"set","p":"payload","pt":"msg","to":"Success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1005.3751068115234,"y":138.78516483306885,"wires":[["89ae7932.8a84b8"]]},{"id":"bb07dccc.818e7","type":"change","z":"d4ba6a8c.0475b8","name":"Payload Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"An Error Occured! Check your credentials-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":993.7657470703125,"y":77.75000381469727,"wires":[["89ae7932.8a84b8"]]},{"id":"89c5c7a3.534518","type":"ui_form","z":"d4ba6a8c.0475b8","name":"Setup App Settings Form","label":"","group":"fa2a0a60.0c5b88","order":0,"width":"0","height":"0","options":[{"label":"Geolocation","value":"geo","type":"checkbox","required":true},{"label":"Toneanalyzer","value":"tone","type":"checkbox","required":true},{"label":"Developer Mode","value":"devmode","type":"checkbox","required":true},{"label":"Enable Raspberry","value":"raspberry","type":"checkbox","required":true},{"label":"Enable Slack","value":"slack","type":"checkbox","required":true},{"label":"Enable WCH Caching","value":"wchcaching","type":"checkbox","required":true}],"formValue":{"geo":false,"tone":false,"devmode":false,"raspberry":false,"slack":false,"wchcaching":false},"payload":"","topic":"","x":156.7657470703125,"y":260.7500295639038,"wires":[["281fe78a.badb98"]]},{"id":"c2a0c083.40d33","type":"ui_form","z":"d4ba6a8c.0475b8","name":"Setup Credentials Form","label":"","group":"5f523c7d.7b8394","order":0,"width":0,"height":0,"options":[{"label":"Toneanalzer URL","value":"toneurl","type":"text","required":false},{"label":"Toneanalyzer Username","value":"toneuser","type":"text","required":false},{"label":"Toneanalyzer Password","value":"tonepwd","type":"password","required":false},{"label":"Conversation URL","value":"convurl","type":"text","required":true},{"label":"Conversation Username","value":"convuser","type":"text","required":true},{"label":"Conversation Password","value":"convpwd","type":"password","required":true},{"label":"WCH API URL","value":"wchurl","type":"text","required":true},{"label":"WCH Hub ID","value":"wchhubid","type":"text","required":true},{"label":"WCH Username","value":"wchuser","type":"text","required":true},{"label":"WCH Password","value":"wchpwd","type":"password","required":true},{"label":"Geolocation Token","value":"geotoken","type":"text","required":false},{"label":"Slack Client ID","value":"slackid","type":"text","required":false},{"label":"Slack Client Secret","value":"slacksecret","type":"password","required":false},{"label":"Slack Verification Token","value":"slackvertoken","type":"text","required":false},{"label":"Slack Redirect URL","value":"slackurl","type":"text","required":false},{"label":"Slack Dev Token","value":"slackdevtoken","type":"text","required":false}],"formValue":{"toneurl":"","toneuser":"","tonepwd":"","convurl":"","convuser":"","convpwd":"","wchurl":"","wchhubid":"","wchuser":"","wchpwd":"","geotoken":"","slackid":"","slacksecret":"","slackvertoken":"","slackurl":"","slackdevtoken":""},"payload":"","topic":"","x":146.390625,"y":413.45317554473877,"wires":[["c4a5cf2e.92405"]]},{"id":"89ae7932.8a84b8","type":"ui_toast","z":"d4ba6a8c.0475b8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1214.375,"y":103.87891292572021,"wires":[]},{"id":"b0dbf784.f2e6c8","type":"ui_toast","z":"d4ba6a8c.0475b8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":919.7657012939453,"y":309.75001525878906,"wires":[]},{"id":"b34d4cbf.53923","type":"change","z":"d4ba6a8c.0475b8","name":"Payload Success","rules":[{"t":"set","p":"payload","pt":"msg","to":"Success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":693.7656326293945,"y":310.75000762939453,"wires":[["b0dbf784.f2e6c8"]]},{"id":"f203bdd2.70089","type":"ui_toast","z":"d4ba6a8c.0475b8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":922.765625,"y":463.75,"wires":[]},{"id":"3f073c25.9451f4","type":"change","z":"d4ba6a8c.0475b8","name":"Payload Success","rules":[{"t":"set","p":"payload","pt":"msg","to":"Success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":696.7655563354492,"y":464.74999237060547,"wires":[["f203bdd2.70089"]]},{"id":"20eb6016.37c6b","type":"ui_button","z":"d4ba6a8c.0475b8","name":"","group":"20df9b85.fb4ed4","order":0,"width":0,"height":0,"passthru":false,"label":"Start Setup","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":126.390625,"y":587.5312805175781,"wires":[["305a8e86.7f6f92"]]},{"id":"c84aaab8.add318","type":"ui_text","z":"d4ba6a8c.0475b8","group":"20df9b85.fb4ed4","order":0,"width":0,"height":0,"name":"","label":"Output","format":"{{msg.payload}}","layout":"col-center","x":591.3750305175781,"y":553.9297180175781,"wires":[]},{"id":"79882c81.c2dad4","type":"ui_button","z":"d4ba6a8c.0475b8","name":"","group":"a93f8749.bbd7c8","order":0,"width":0,"height":0,"passthru":false,"label":"Reboot Raspberry Pi","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":149.765625,"y":688.7500400543213,"wires":[["7a7469f.0da8a98"]]},{"id":"10453b37.8d2485","type":"ui_template","z":"d4ba6a8c.0475b8","group":"1899634a.11eb5d","name":"Explanation Text","order":1,"width":0,"height":0,"format":"<div>\n    <p>This will setup your raspberry Pi to automatically connect to the given WIFI. Makse sure that the WIFI you want to connect to is configured to use WPA/PSK2 protocol. At the end of all installation steps you will reboot your raspberry pi. After that you should be connected to your WIFI.</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":127.38671875,"y":69.86328029632568,"wires":[[]]},{"id":"c271bb08.8b7ea8","type":"ui_template","z":"d4ba6a8c.0475b8","group":"fa2a0a60.0c5b88","name":"Explanation Text App Settings","order":1,"width":0,"height":0,"format":"<div>\n    <p>Here you can controll which features you want to use.</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":175.765625,"y":221.75,"wires":[[]]},{"id":"b8ffcd8c.beb72","type":"ui_template","z":"d4ba6a8c.0475b8","group":"e9c52de3.50f6a","name":"Welcome Instructions","order":1,"width":"6","height":"10","format":"<div>\n<h1>Welcome to the IBM Watson Content Hub Chatbot!</h1>\n<p>For building the WCH Chatbot case please look <a href=\"https://ibm.biz/content-bot\">here</a>.</p>\n\n<p>For setting up the WCH Chatbot you need a:</p>\n<ul>\n  <li>IBM Watson Content Hub account</li>\n  <li>Bluemix Account with a IBM Watson Conversation service</li>\n</ul>\n\n<p>How to setup your WCH Chatbot</p>\n<ol>\n   <li>Sign up for a free IBM Watson Content Hub account <a href=\"https://www.ibm.com/de-de/marketplace/cloud-cms-solution\" target=\"_blank\">here</a> </li>\n   <li><a href=\"https://www.digitalexperience.ibm.com/\" target=\"_blank\">Log in</a> to your IBM WCH account</li>\n   <li>Click on your user name in the top right and then on <i>Hub information</i> and copy your <i>Content hub ID</i> and <i>API URL</i></li>\n   <li><a href=\"https://console.ng.bluemix.net/registration/\" target=\"_blank\">Sign up</a> for a free IBM Bluemix account if you don't have one yet</li>\n   <li>Create a <a href=\"https://console.ng.bluemix.net/catalog/services/conversation\" target=\"_blank\">conversation service</a> in your Bluemix account and copy its service credentials\n       (url, username, password)</li>\n   <li>Create a workspace in your <a href=\"https://www.ibmwatsonconversation.com/\" target=\"_blank\">conversation service</a> and copy its workspace id</li>\n   \n   <li>Create a <a href=\"https://console.ng.bluemix.net/catalog/services/tone-analyzer\" target=\"_blank\">Tone Analyzer service</a> in your Bluemix account and copy its service credentials\n        (url, username, password)</li>\n   <li>Create a <a href=\"https://console.ng.bluemix.net/catalog/speech_to_text/\" target=\"_blank\">Speech to text service</a> in your Bluemix account and copy its service credentials\n        (url, username, password)</li>\n   <li>Create a <a href=\"https://console.ng.bluemix.net/catalog/services/text_to_speech\" target=\"_blank\">Text to speech service</a> in your Bluemix account and copy its service credentials</li>\n   <li>Now you should have the following credentials:\n       <ol>\n         <li>Your username (i.e. your e-mail address) and password of your IBMid which is linked to your IBM Watson Content Hub account from step 1.        </li>\n         <li>Your Watson Content Hub ID and your Watson Content Hub API Url from step 3.</li>\n         <li>Your Watson Conversation service credentials (username and password) from step 5.</li>\n         <li>Your Watson Conversation service workspace id from setp 6</li>\n         <li>Your Watson Tone Analyzer service credentials from step 7</li>\n         <li>Your Speech to text service credentials (username and password) from step 8</li>\n         <li>Your Text to speech service credentials (username and password) from step 9</li>\n       </ol>\n   </li>\n   \n   <li>Got to the <a href=\"http://172.24.1.1:1880\" target=\"_blank\">Node Red</a> interface to the tab <i>Setup Chatbot</i> and double click on the node <i>Set Chatbot credentials</i>. In the JSON shown you find placeholders for your service credentials from steps 10.1.-10.5. Please replace these placeholders (without &lt; and &gt; ) with your credentials. You also find the config json with the placeholders <a href=\"chatbot-example-config.json\" target=\"_blank\">here</a></li>\n   <li>Open the Chatbot Flow in the Node Red interface and go to the tab <i>Chatbot Flow</i>\n      <ol>\n        <li>Double click on the node <i>Result to Speech</i> and enter your username and password credentilas of the Text to speech service from step 9.</li>\n        <li>Double click on the node <i>Micro</i> and enter your username and password credentials of the Speech to text service from step 8.<br>Please do this steop for the both Micro nodes in the Chatbot-Flow.</li>\n      </ol>\n    </li>\n</ol>\n\n\n\n\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":147.765625,"y":1079.75,"wires":[[]]},{"id":"97c33f5c.b2ce4","type":"comment","z":"d4ba6a8c.0475b8","name":"Technical Nodes","info":"PLEASE DO NOT TOUCH!","x":97.765625,"y":1006.75,"wires":[]},{"id":"aa27b0f5.35b1b","type":"comment","z":"5edab350.012c3c","name":"2. Update Application","info":"","x":179.76563262939453,"y":200.7500057220459,"wires":[]},{"id":"7e2e01b6.5dd94","type":"exec","z":"5edab350.012c3c","command":"cd /home/pi/sample-wch-conversation-server && git pull && npm install","addpay":false,"append":"","useSpawn":"","timer":"","name":"Update Chatserver","x":377.50008392333984,"y":280.7500305175781,"wires":[["97d226a2.bed948"],["97d226a2.bed948"],["97d226a2.bed948"]]},{"id":"eba93bd4.236d78","type":"inject","z":"5edab350.012c3c","name":"Upload","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":157.99999618530273,"y":280.9167232513428,"wires":[["7e2e01b6.5dd94"]]},{"id":"97d226a2.bed948","type":"debug","z":"5edab350.012c3c","name":"","active":true,"console":"false","complete":"true","x":577.7657890319824,"y":279.7499990463257,"wires":[]},{"id":"365bf594.760aaa","type":"exec","z":"5edab350.012c3c","command":"aplay -c 1 /home/pi/activated.wav","addpay":false,"append":"","useSpawn":true,"timer":"","name":"Test Audio","x":750.7656784057617,"y":371.7500286102295,"wires":[[],[],[]]},{"id":"96ab39a7.41b308","type":"inject","z":"5edab350.012c3c","name":"Upload","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":582.765625,"y":371.75,"wires":[["365bf594.760aaa"]]},{"id":"371164b5.3777fc","type":"exec","z":"d4ba6a8c.0475b8","command":"aplay -c 1 /home/pi/activated.wav","addpay":false,"append":"","useSpawn":true,"timer":"","name":"Audio","x":160.01953125,"y":27.5,"wires":[[],[],[]]},{"id":"df3c6f61.2824c","type":"debug","z":"c31b20c5.2adee","name":"Speech to Text Output","active":false,"console":"false","complete":"true","x":1377.019515991211,"y":497.00003814697266,"wires":[]},{"id":"7b4c4101.8f43f","type":"watson-text-to-speech","z":"c31b20c5.2adee","name":"Result to Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"yOslFPMzOnXQ","x":380.1195602416992,"y":1118.0000009536743,"wires":[["fa4ad739.b6e628","21575231.e8851e"]]},{"id":"8a5ed62e.77ad28","type":"inject","z":"c31b20c5.2adee","name":"Demo Text to Speech","topic":"","payload":"I'm thinking","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.01950073242188,"y":948.8002529144287,"wires":[["7b4c4101.8f43f","1688345c.77864c"]]},{"id":"21575231.e8851e","type":"change","z":"c31b20c5.2adee","name":"set speech as payload","rules":[{"t":"move","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":636.0196228027344,"y":1119.0000162124634,"wires":[["75f015fb.f44f4c"]]},{"id":"fa4ad739.b6e628","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"speech","x":598.0194778442383,"y":1187.000075340271,"wires":[]},{"id":"ee968fe9.c4ced","type":"comment","z":"c31b20c5.2adee","name":"Result Output","info":"The result text of the chatbot is now passed to the \nWatson text to speech service and then the audio is \nplayed back through the speakers. After that the bot\nswitches into the \"listen\" mode to be ready for follow-up questions.","x":100.11949157714844,"y":887.8000001907349,"wires":[]},{"id":"781e6ef9.dc4ce","type":"comment","z":"c31b20c5.2adee","name":"Talk to Chatbot Service","info":"The text of the listen step is now passed to our chatbot server.\nThis server is also running on this raspberry. In there the \"magic\" happens.\nThis means that the text is passed to the conversation service the result is then passed\nto Watson Content Hub to get the best answer. \n\nIn this mode the LED should be blue.\n\n*Note:* Based on your configuration the text is also passed to the tone analyzer service and potentially to a geolocation service.","x":126.01947784423828,"y":651.3999767303467,"wires":[]},{"id":"5548b421.5010ac","type":"http request","z":"c31b20c5.2adee","name":"Chatbot","method":"POST","ret":"obj","url":"https://wch-conv-int-srv.mybluemix.net/rasp/message","tls":"","x":525.5195579528809,"y":777.2000541687012,"wires":[["adb99ceb.8bc47","df133e3b.a7e4e","f97360af.ce254"]]},{"id":"6b092105.d3086","type":"inject","z":"c31b20c5.2adee","name":"Demo Input","topic":"","payload":"What's new with WCH?","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.01948547363281,"y":702.3999786376953,"wires":[["2d8e5f62.05ae5","6797a80a.75abe8"]]},{"id":"2d8e5f62.05ae5","type":"function","z":"c31b20c5.2adee","name":"Prepare User","func":"var text = msg.payload;\nmsg.payload = {\n \"input\": text,\n \"user\": \"WCHChatbot\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":324.5194892883301,"y":776.2000722885132,"wires":[["5548b421.5010ac"]]},{"id":"df133e3b.a7e4e","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":723.4194412231445,"y":833.399959564209,"wires":[]},{"id":"2bf9c48e.2d224c","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["e238bbab.0b3fb8"],"x":474.18620109558105,"y":720.6666965484619,"wires":[]},{"id":"6797a80a.75abe8","type":"function","z":"c31b20c5.2adee","name":"Turn on BLUE","func":"msg.payload = 1;\nmsg.led=\"blue\";\nreturn msg;","outputs":1,"noerr":0,"x":330.9527816772461,"y":719.9333839416504,"wires":[["2bf9c48e.2d224c"]]},{"id":"adb99ceb.8bc47","type":"function","z":"c31b20c5.2adee","name":"Turn off BLUE","func":"msg.payload = 0;\nmsg.led = \"blue\";\nreturn msg;","outputs":1,"noerr":0,"x":738.9527893066406,"y":723.9333066940308,"wires":[["1c7b6a4b.390686"]]},{"id":"f2e65dd5.24a2b","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["e238bbab.0b3fb8"],"x":503.831937789917,"y":1067.8186950683594,"wires":[]},{"id":"1688345c.77864c","type":"function","z":"c31b20c5.2adee","name":"Turn on RED","func":"msg.payload = 1;\nmsg.led=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":384.5984420776367,"y":1009.0851535797119,"wires":[["f2e65dd5.24a2b","80d2b74b.bc1058"]]},{"id":"4d7e7e9e.2d7","type":"function","z":"c31b20c5.2adee","name":"Turn off RED","func":"if(msg.payload === undefined) return msg;\n\nmsg.payload=0;\nmsg.led=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":1272.5980987548828,"y":1118.0853395462036,"wires":[["d83b1baf.37e838","ca0f130e.9c1b7"]]},{"id":"f97360af.ce254","type":"change","z":"c31b20c5.2adee","name":"set speech as payload","rules":[{"t":"move","p":"payload.text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":878.8319931030273,"y":776.8186645507812,"wires":[["d24251a3.f724e"]]},{"id":"d83b1baf.37e838","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":1430.831932067871,"y":1169.8187131881714,"wires":[]},{"id":"80d2b74b.bc1058","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":537.831901550293,"y":1012.8186750411987,"wires":[]},{"id":"3a724ed8.b0e0f2","type":"delay","z":"c31b20c5.2adee","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1095.5318069458008,"y":1119.0937433242798,"wires":[["4d7e7e9e.2d7","a37e27ae.9cfb58"]]},{"id":"1c7b6a4b.390686","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["7f496efa.2e4e7","e238bbab.0b3fb8"],"x":897.8319597244263,"y":724.818717956543,"wires":[]},{"id":"d24251a3.f724e","type":"link out","z":"c31b20c5.2adee","name":"End if Chatbtot","links":["1ab9def7.ae0f81"],"x":1083.831922531128,"y":777.8187284469604,"wires":[]},{"id":"1ab9def7.ae0f81","type":"link in","z":"c31b20c5.2adee","name":"To Text to Speech","links":["d24251a3.f724e"],"x":91.8319821357727,"y":1122.818736076355,"wires":[["1688345c.77864c","7b4c4101.8f43f"]]},{"id":"ca0f130e.9c1b7","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["e238bbab.0b3fb8"],"x":1393.8318824768066,"y":1120.8186712265015,"wires":[]},{"id":"78966e94.20ae5","type":"comment","z":"c31b20c5.2adee","name":"Listen for User Input","info":"After the inital triggerword was uttered the bot switches\ninto the listen mode. Everything now said will be transformed\ninto text which is passed to the next step of our chabtot.\nIn this mode the LED should constantly be green.\n\nNOTE: After ~10 seconds of silence this mode is exited again into the \ntriggerword mode.","x":115.01947784423828,"y":329.8187494277954,"wires":[]},{"id":"b5d78dcd.4137c","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["e238bbab.0b3fb8"],"x":453.8319778442383,"y":449.8187494277954,"wires":[]},{"id":"c5b3e3d7.d5cfe","type":"function","z":"c31b20c5.2adee","name":"Turn on GREEN","func":"msg.payload = 1;\nmsg.led=\"green\";\nreturn msg;","outputs":1,"noerr":0,"x":313.5985412597656,"y":450.0854434967041,"wires":[["b5d78dcd.4137c"]]},{"id":"10d74603.bc313a","type":"link in","z":"c31b20c5.2adee","name":"To Chatbot","links":["344c162f.e0316a"],"x":87.8319902420044,"y":778.818793296814,"wires":[["2d8e5f62.05ae5","6797a80a.75abe8","df59d95b.febda8"]]},{"id":"344c162f.e0316a","type":"link out","z":"c31b20c5.2adee","name":"End of User input","links":["10d74603.bc313a"],"x":1292.8322010040283,"y":452.81883811950684,"wires":[]},{"id":"61ec5249.f892ec","type":"inject","z":"c31b20c5.2adee","name":"Start","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.52573013305664,"y":376.37493228912354,"wires":[["81f51483.bf6fc8"]]},{"id":"c18a18e1.15d038","type":"inject","z":"c31b20c5.2adee","name":"Stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.01947021484375,"y":417.8187494277954,"wires":[["966ce772.ce6948"]]},{"id":"f77b7e04.7d46b","type":"change","z":"c31b20c5.2adee","name":"Stop Micro","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":307.52565002441406,"y":556.8061275482178,"wires":[["9cf8b261.fa674"]]},{"id":"636025e0.f1590c","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":1103.831829071045,"y":1213.8186359405518,"wires":[]},{"id":"43c376d0.778f88","type":"comment","z":"c31b20c5.2adee","name":"Wait for Triggerword","info":"This is the initial flow of our raspberry chatbot. \nIn this mode the bot waits for the triggerword to wake up.\nIn this mode the led should blink green.","x":115.01948547363281,"y":20,"wires":[]},{"id":"6d6d5940.289608","type":"switch","z":"c31b20c5.2adee","name":"If Triggerword","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Watson","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":960.0194702148438,"y":179.00000953674316,"wires":[["de1a1ad9.a7f088","b5625bc6.0ce2e8","cc25f58b.4bc288"],["606e5419.669b2c"]]},{"id":"de1a1ad9.a7f088","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":1160.0194664001465,"y":110.00000953674316,"wires":[]},{"id":"606e5419.669b2c","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":1150.019474029541,"y":246.00001430511475,"wires":[]},{"id":"58f219cb.3998f8","type":"function","z":"c31b20c5.2adee","name":"Set WaitForTrigger 1","func":"global.set(\"waitForTrigger\",1);\nreturn msg;","outputs":1,"noerr":0,"x":358.0194778442383,"y":153.99999332427979,"wires":[["2b425961.bec9f6","74a29f5f.50a0c"]]},{"id":"ae958435.919578","type":"function","z":"c31b20c5.2adee","name":"Set WaitForTrigger 0","func":"global.set(\"waitForTrigger\",0);\nreturn msg;","outputs":1,"noerr":0,"x":357.0194778442383,"y":212.99999332427979,"wires":[["74a29f5f.50a0c"]]},{"id":"8700745c.5027d8","type":"change","z":"c31b20c5.2adee","name":"Start Micro","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"},{"t":"set","p":"thinking","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":305.0194778442383,"y":495.9999933242798,"wires":[["9cf8b261.fa674"]]},{"id":"a56a184f.a534c8","type":"link in","z":"c31b20c5.2adee","name":"Stop micro user input","links":["704fded9.77d19","966ce772.ce6948","9e7af2ab.552bd"],"x":74.01947784423828,"y":556.9999933242798,"wires":[["f77b7e04.7d46b","ed72ebb5.254158"]]},{"id":"2c9495ec.265b8a","type":"link in","z":"c31b20c5.2adee","name":"Start micro user input","links":["31e537fa.5416c8","81f51483.bf6fc8","a37e27ae.9cfb58"],"x":73.01947784423828,"y":496.9999933242798,"wires":[["8700745c.5027d8","c5b3e3d7.d5cfe"]]},{"id":"704fded9.77d19","type":"link out","z":"c31b20c5.2adee","name":"","links":["a56a184f.a534c8"],"x":1297.019884109497,"y":402.0003490447998,"wires":[]},{"id":"31e537fa.5416c8","type":"link out","z":"c31b20c5.2adee","name":"","links":["2c9495ec.265b8a"],"x":1377.019645690918,"y":194.0000295639038,"wires":[]},{"id":"81f51483.bf6fc8","type":"link out","z":"c31b20c5.2adee","name":"","links":["2c9495ec.265b8a"],"x":186.01947784423828,"y":376.9999933242798,"wires":[]},{"id":"966ce772.ce6948","type":"link out","z":"c31b20c5.2adee","name":"","links":["a56a184f.a534c8"],"x":185.01947784423828,"y":417.9999933242798,"wires":[]},{"id":"148eec08.910754","type":"change","z":"c31b20c5.2adee","name":"Start Micro","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"},{"t":"set","p":"thinking","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":164.01947784423828,"y":153.99999332427979,"wires":[["58f219cb.3998f8"]]},{"id":"cabf64a4.e69a38","type":"change","z":"c31b20c5.2adee","name":"Stop Micro","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":163.52564239501953,"y":212.80608463287354,"wires":[["ae958435.919578"]]},{"id":"47e2621e.f9ee6c","type":"link in","z":"c31b20c5.2adee","name":"Start micro triggerword","links":["ec2d7aa.5a9ed88","6f3fe4fa.32847c"],"x":48.01947784423828,"y":153.9999942779541,"wires":[["148eec08.910754"]]},{"id":"7505a9ee.3813d8","type":"link in","z":"c31b20c5.2adee","name":"Stop micro triggerword","links":["e54e2c05.cb62","b5625bc6.0ce2e8"],"x":46.01947784423828,"y":213.00000476837158,"wires":[["cabf64a4.e69a38"]]},{"id":"396859a7.c12fb6","type":"inject","z":"c31b20c5.2adee","name":"Start","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.01952362060547,"y":61.999996185302734,"wires":[["ec2d7aa.5a9ed88"]]},{"id":"b246a3dc.eac97","type":"inject","z":"c31b20c5.2adee","name":"Stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":108.51330184936523,"y":101.44381523132324,"wires":[["e54e2c05.cb62"]]},{"id":"2b425961.bec9f6","type":"link out","z":"c31b20c5.2adee","name":"LED Loop Output","links":["424d51f5.6f3fd"],"x":510.0194778442383,"y":101.99999332427979,"wires":[]},{"id":"ec2d7aa.5a9ed88","type":"link out","z":"c31b20c5.2adee","name":"","links":["47e2621e.f9ee6c"],"x":197.91530227661133,"y":62.88887882232666,"wires":[]},{"id":"e54e2c05.cb62","type":"link out","z":"c31b20c5.2adee","name":"","links":["7505a9ee.3813d8"],"x":196.91530799865723,"y":100.88887786865234,"wires":[]},{"id":"b5625bc6.0ce2e8","type":"link out","z":"c31b20c5.2adee","name":"","links":["7505a9ee.3813d8"],"x":1149.9153804779053,"y":151.8888921737671,"wires":[]},{"id":"a37e27ae.9cfb58","type":"link out","z":"c31b20c5.2adee","name":"","links":["2c9495ec.265b8a"],"x":1232.915732383728,"y":1060.2227382659912,"wires":[]},{"id":"6f3fe4fa.32847c","type":"link out","z":"c31b20c5.2adee","name":"","links":["47e2621e.f9ee6c"],"x":1387.9155731201172,"y":628.0002937316895,"wires":[]},{"id":"ed72ebb5.254158","type":"function","z":"c31b20c5.2adee","name":"Turn off GREEN","func":"msg.payload = 0;\nmsg.led = \"green\";\nreturn msg;","outputs":1,"noerr":0,"x":319.9153137207031,"y":611.8889102935791,"wires":[["adc1e153.8177a"]]},{"id":"adc1e153.8177a","type":"link out","z":"c31b20c5.2adee","name":"LED","links":["7f496efa.2e4e7","e238bbab.0b3fb8"],"x":454.79456615448,"y":611.7743253707886,"wires":[]},{"id":"cc25f58b.4bc288","type":"exec","z":"c31b20c5.2adee","command":"aplay -c 1 /home/pi/activated.wav","addpay":false,"append":"","useSpawn":true,"timer":"","name":"Audio","x":1249.8494453430176,"y":185.51390171051025,"wires":[[],[],["31e537fa.5416c8","27898e11.575132"]]},{"id":"27898e11.575132","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":1427.9154014587402,"y":133.88889980316162,"wires":[]},{"id":"2a680124.36421e","type":"debug","z":"c31b20c5.2adee","name":"","active":false,"console":"false","complete":"true","x":909.9154167175293,"y":576.8889274597168,"wires":[]},{"id":"df59d95b.febda8","type":"exec","z":"c31b20c5.2adee","command":"aplay /home/pi/thinking.wav","addpay":false,"append":"","useSpawn":true,"timer":"","name":"Audio","x":308.6861381530762,"y":836.6666679382324,"wires":[[],[],[]]},{"id":"d2d09643.7d4458","type":"change","z":"c31b20c5.2adee","name":"Thinking true","rules":[{"t":"set","p":"thinking","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1125.9532775878906,"y":432.9335460662842,"wires":[["704fded9.77d19","344c162f.e0316a","df3c6f61.2824c"]]},{"id":"f547ade9.b3eee","type":"comment","z":"c31b20c5.2adee","name":"Credentials","info":"Here we need your Speech To Text Service credentials. For instructions have a look at https://www.ibm.com/watson/developercloud/doc/common/getting-started-credentials.html.","x":607.7850952148438,"y":145.7499942779541,"wires":[]},{"id":"c384eb44.a94808","type":"comment","z":"c31b20c5.2adee","name":"Credentials","info":"Here we need your Speech To Text Service credentials. For instructions have a look at https://www.ibm.com/watson/developercloud/doc/common/getting-started-credentials.html.","x":579.785099029541,"y":476.75000858306885,"wires":[]},{"id":"d70f289.78f3bd8","type":"comment","z":"c31b20c5.2adee","name":"Credentials","info":"Here we need your Text To Speech Service credentials. For instructions have a look at https://www.ibm.com/watson/developercloud/doc/common/getting-started-credentials.html.","x":360.78509521484375,"y":1081.749994277954,"wires":[]},{"id":"74a29f5f.50a0c","type":"micro-to-watson-speech-to-text-stream","z":"c31b20c5.2adee","name":"Mic Input","silence":3,"treshold":0.1,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","device":"plughw:1,0","model":"en-US_BroadbandModel","x":601.9101181030273,"y":185.01953887939453,"wires":[["6f69d32e.7cfe7c"]]},{"id":"387b6262.10839e","type":"exec","z":"c31b20c5.2adee","command":"aplay -c 1 /home/pi/activated.wav","addpay":false,"append":"","useSpawn":true,"timer":"","name":"Audio","x":237.0393295288086,"y":1417.0039720535278,"wires":[[],[],[]]},{"id":"19824c3b.46a6b4","type":"inject","z":"c31b20c5.2adee","name":"Test Audio","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.03902435302734,"y":1416.0039234161377,"wires":[["387b6262.10839e"]]},{"id":"a91e0e5d.72493","type":"delay","z":"c31b20c5.2adee","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1276.0391998291016,"y":629.0039939880371,"wires":[["6f3fe4fa.32847c","4ce6800f.d4fa9"]]},{"id":"780487dc.eeb788","type":"switch","z":"c31b20c5.2adee","name":"If Thinking False","property":"thinking","propertyType":"global","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","outputs":2,"x":749.0390319824219,"y":526.0039081573486,"wires":[["d5a7d0e0.bb7c9"],["2a680124.36421e"]]},{"id":"9cf8b261.fa674","type":"micro-to-watson-speech-to-text-stream","z":"c31b20c5.2adee","name":"Mic Input","silence":"6","treshold":0.1,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","device":"plughw:1,0","model":"en-US_BroadbandModel","x":581.0390319824219,"y":526.0039167404175,"wires":[["780487dc.eeb788"]]},{"id":"4ce6800f.d4fa9","type":"debug","z":"c31b20c5.2adee","name":"","active":true,"console":"false","complete":"true","x":1425.039077758789,"y":575.0039653778076,"wires":[]},{"id":"d5a7d0e0.bb7c9","type":"switch","z":"c31b20c5.2adee","name":"If Not Silence","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"silence","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":936.0196075439453,"y":486.00392150878906,"wires":[["d2d09643.7d4458"],["10ba00e0.a7cd9f"]]},{"id":"10ba00e0.a7cd9f","type":"switch","z":"c31b20c5.2adee","name":"If Thinking true","property":"thinking","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","outputs":2,"x":1127.01953125,"y":537.00390625,"wires":[[],["a91e0e5d.72493","9e7af2ab.552bd"]]},{"id":"9e7af2ab.552bd","type":"link out","z":"c31b20c5.2adee","name":"","links":["a56a184f.a534c8"],"x":1298.0195331573486,"y":545.0039138793945,"wires":[]},{"id":"75f015fb.f44f4c","type":"audiobuffer-to-speaker","z":"c31b20c5.2adee","channels":1,"bitrate":16,"samplerate":22050,"x":872.8828277587891,"y":1119.0547332763672,"wires":[["3a724ed8.b0e0f2"]]},{"id":"6f69d32e.7cfe7c","type":"switch","z":"c31b20c5.2adee","name":"If Thinking False","property":"thinking","propertyType":"global","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","outputs":2,"x":759.019588470459,"y":185.0039234161377,"wires":[["6d6d5940.289608"],["49d61d9c.cb58a4"]]},{"id":"49d61d9c.cb58a4","type":"debug","z":"c31b20c5.2adee","name":"","active":true,"console":"false","complete":"true","x":933.019588470459,"y":242.00392055511475,"wires":[]}]
